.cal td, th {
	border: 1px solid rgb(236, 227, 227);
	min-width: 75px;
}

.cal th {
	text-align: center;
}

.caltime {
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.65);
}

.entry {
	border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 5px;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.delete_icon {
	position: absolute;
	top: -11px;
    right: -8px;
    display: none;
    cursor: pointer;
}
.info_icon {
	position: absolute;
	bottom: -5px;
    right: -2px;
}

.c1 {
	background-color: rgba(251, 178, 76, 0.3);
}
.c2 {
	background-color: rgba(96, 192, 96, 0.31);
}
.c3 {
	background-color: rgba(84, 185, 215, 0.5);
}
.c4 {
	background-color: rgba(188, 245, 197, 0.8);
}

.location {
	font-size: 0.8em;
    color: rgba(0, 0, 0, 0.50);
}

