.cal td, th {
	border: 1px solid rgb(236, 227, 227);
	min-width: 75px;
}

.cal th {
	text-align: center;
}

.caltime {
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.65);
}

.entry {
	border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding-left: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
}

.delete_icon {
	position: absolute;
	top: -11px;
    right: -8px;
    display: none;
    cursor: pointer;
}
.info_icon {
	position: absolute;
	bottom: -5px;
    right: -2px;
}

.c1 {
	background-color: rgba(251, 178, 76, 0.3);
}
.c2 {
	background-color: rgba(96, 192, 96, 0.31);
}
.c3 {
	background-color: rgba(84, 185, 215, 0.5);
}
.c4 {
	background-color: rgba(70, 82, 152, 0.3);
}

.location {
	font-size: 0.8em;
    color: rgba(0, 0, 0, 0.50);
}

.succwell {
	background: rgba(206, 255, 93, 0.38);

}

#tg-MUT9V{
	margin-top: 18px;
}
#tg-MUT9V th{
	cursor: pointer;
}
#tg-MUT9V tr th{
	white-space: nowrap;
}

#tg-MUT9V button {
	padding: 0;
	border: none;
	background: none;
}

#tg-MUT9V tr:nth-child(even) td{
	padding: 4px;
}


.modulbtn {
	min-width: 120px;
}

.modulshort {
	color: rgba(0,0,0,0.3);
}



.modulgruppe > div {
	padding-top: 8px;
	padding-left: 8px;
	margin: 0px !important;
    line-height: 20px;
    text-align: left;
    border-top: 1px solid #ddd;
}

.kurs {

	padding-top: 10px !important;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px dashed #e4e4e4;
    margin-bottom: 0px;
    margin-top: 10px;
    border-left: 26px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.btn-small {
	min-width: 104px;
}

.row {
	padding-top: 4px;
}
/*.row:hover {
	background-color: #efefef;
}*/

.e {
	background-color: #f9f9f9;
}

.v, .u {
	border-left: 26px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}

.v {
	background-color: rgba(217,237,247,0.4);
}

.u {
	background-color: rgba(252,248,227,0.4);
}

.kursgrp > div:last-child {
	border-bottom: 1px solid #e4e4e4;
}

.ch {
	color: rgba(0,0,0,0.35);
}
.ch:hover {
	color: rgba(0,0,0,1);
}

.ghost {

	display: none;
	border: none;
	background: repeating-linear-gradient(45deg,
		rgba(96,109,188,0.2),
		rgba(96,109,188,0.2) 10px,
		rgba(70, 82, 152, 0.2) 10px,
		rgba(70, 82, 152, 0.2) 20px  );
	color: rgba(0,0,0,0.5);
}